#my-grid {
    background-color: #8093ff;
}
.k-grid-md .k-table-th > .k-cell-inner > .k-link {
    padding-block: 8px;
    padding-inline: 12px;
    background-color: rgb(8, 75, 129);
    color: white;
    font-size: 14px;
}

.k-grid-md .k-table-th > .k-cell-inner > .k-link:hover {
    background-color: rgb(31, 98, 143);
}
