body{
  background-image: linear-gradient(to right, rgb(188, 199, 219), rgb(168, 185, 194));
}
.login {
  background-image: linear-gradient(to right, rgb(14, 49, 116), rgb(90, 152, 184));
  border-radius: 50px;
}
