<!-- <app-login class="mt-5 d-flex justify-content-center align-items-center"></app-login> -->
<kendo-appbar *ngIf="currentUrl!='/login'">
  <kendo-appbar-section>
    <button kendoButton fillMode="flat" (click)="drawer.toggle()">
      <kendo-icon name="menu"></kendo-icon>
    </button>
    <kendo-appbar-section class="ml-2">
      <h3 class="title">ONG PAZ PERÚ</h3>
    </kendo-appbar-section>
    <kendo-appbar-spacer></kendo-appbar-spacer>

  </kendo-appbar-section>
  <kendo-appbar-section class="actions">
    <kendo-badge-container class="justify-content-center">
      <button kendoButton fillMode="flat" (click)="cerrarSesion()">
        <span class="k-icon k-i-logout"></span>
        <label>Cerrar Sesión</label>
      </button>
    </kendo-badge-container>
  </kendo-appbar-section>
</kendo-appbar>

<kendo-drawer-container>
  <kendo-drawer
    #drawer
    [items]="items"
    mode="push"
    [mini]="currentUrl!='/login' ? true : false"
    [expanded]="false"
    (select)="onSelect($event)"
  >
  </kendo-drawer>

  <kendo-drawer-content>
<router-outlet></router-outlet>
</kendo-drawer-content>
</kendo-drawer-container>
